@model DoctorDetailViewModel

      <section id="CardsSection" class="my-5">
        <div class="container">
          <div class="row d-flex flex-column align-items-center">
            <div class="col-lg-4 col-md-6 mb-2">
              <div class="card">
               <a>
                    <img
                  src="~/uploads/doctors/@Model.Doctor.Image"
                  class="card-img-top img-fluid"
                  alt="..."
                />
               </a>
                <div class="card-body">
                  <h5 class="card-title">@(Model.Doctor.Name + " " + Model.Doctor.Surname)</h5>
                  <p class="card-text my-3">
                  Profession: @Model.Doctor.Profession
                  </p>
                   <p class="card-text my-3">
                  Experience: @Model.Doctor.Experience
                  </p>
                  <div
                    class="card-body d-flex align-items-center justify-content-between"
                  >
                   <input type="hidden" name="doctorId" value="@Model.Doctor.Id" />
                   @await Html.PartialAsync("_DoctorAppointmentPartialView", Model.DoctorAppointment)
                   <span>Customers :</span> <span>@Model.DoctorAppointments.Where(x=>x.Status==true).Count()</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
